input[type="range"] {
    overflow: hidden;
    height: 30px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: transparent;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #ff96ab;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: #ff494f;
    box-shadow: 1px 1px 7px #d16a6e;
    cursor: pointer;
    box-shadow: -100vw 0 0 100vw #ff96ab;
}