extends ../base

block content
    form(method="post")
        input(type="password", name="", placeholder="Old Password")
        input(type="password", name="", placeholder="New Password")
        input(type="password", name="", placeholder="New Password Confirmation")
        input(type="submit", value="Change Password")