extends ../base_profilePopup
include ../mixins/video_profilePopup

block content
    div.profile__data
        h1 Select Video
    div.video-grid
        each video in user.videos
            +video(video)
        else
            span.empty__message No videos found
block scripts
    script(src="../js/videoProfilePopup.js")
